:root {
    font-size: 16px;
    --forms-text-size: 1.5rem;
    --forms-margin-top: 14px;
    --label-margin-bottom: 4px;
    --badges-text-size: 1rem;
    --font-family: 'CamingoCode', monospace;
    --border-radius: 8px;
    --background-color:#f0f0f0;
    --background-color-center-panel: #f0f0f0;
    --background-color-left-panel: #f0f0f0;
    --background-logo-color: #dcdcdc;
    --border-color-left-panel: #C6C6C6;
    --text-color: #000000;
    --question-text-size: 1.8rem;
    --question-text-color: #666666;
    --answer-text-size: 1.4rem;
    --answer-text-color: #5cb609;
    --answer-text-weight: bold;
    --answer-no-answer-text-color:#5cb609;
    --answer-no-answer-text-hover-color: #5cb609;
    --link-color: #5a5a5d;
    --link-hover-color: #4a90e2;
    --label-color: #6C757D;
    --label-size: 1.2rem;
    --forms-search-input-text-size: var(--forms-text-size);
    --input-border-color: #ccc;
    --forms-background-color: #fff;
    --forms-border-color: #C6C6C6;
    --forms-border-focus-color: #4a90e2;
    --forms-text-color: #4a90e2;
    --forms-placeholder-text-color: #6C757D;
    --forms-border-radius: var(--border-radius);
    --dropdown-text-color: #4a90e2;
    --badge-border-radius: 12px;
    --ticket-header-text-size: 1.2rem;
    --ticket-header-user-text-color: #5a5a5d;
    --ticket-footer-instance-badge-text: #4a90e2;
    --ticket-footer-instance-badge-text-hover: #4a90e2;
    --ticket-footer-instance-badge-text-selected: ghostwhite;
    --ticket-footer-instance-badge-text-selected-weight: bold;
    --ticket-footer-instance-badge-border: 1px solid;
    --ticket-footer-instance-badge-border-color: #4a90e2;
    --ticket-footer-instance-badge-border-radius: var(--badge-border-radius);
    --ticket-footer-instance-badge-background:ghostwhite;
    --ticket-footer-instance-badge-background-selected: #6C757D;
    --ticket-footer-text-size: var(--badges-text-size);
    --ticket-footer-category-badge-text: ghostwhite;
    --ticket-footer-category-badge-text-size: var(--ticket-footer-text-size);
    --ticket-footer-category-badge-text-selected: ghostwhite;
    --ticket-footer-category-badge-text-selected-weight: bold;
    --ticket-footer-category-badge-border: 1px solid;
    --ticket-footer-category-badge-border-color: var(--ticket-card-background);
    --ticket-footer-category-badge-background: #4a90e2;
    --ticket-footer-category-badge-background-selected: #6C757D;
    --ticket-footer-category-badge-border-radius: var(--badge-border-radius);
    --badge-checkbox-text-size: var(--ticket-footer-category-badge-text-size);
    --badge-checkbox-selected-text-color: ghostwhite;
    --badge-checkbox-selected-border: 1px solid;
    --badge-checkbox-selected-border-radius: var(--badge-border-radius);
    --badge-checkbox-selected-border-color: #6C757D;
    --badge-checkbox-selected-background-color: #6C757D;
    --badge-checkbox-unselected-text-color: #6C757D;
    --badge-checkbox-unselected-border: 1px solid;
    --badge-checkbox-unselected-border-color: #6C757D;
    --badge-checkbox-unselected-border-radius: var(--badge-border-radius);
    --badge-checkbox-unselected-background-color: ghostwhite;
    --ticket-card-border-color: #4a90e2;
    --ticket-card-background: #fff;
    --ticket-card-border-radius: var(--border-radius);
    --ticket-card-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    --ticket-card-header-user-text: #000;
    --ticket-card-header-user-text-selected: #4a90e2;
    --ticket-card-header-user-text-hover: var(--link-hover-color);
    --ticket-card-header-user-text-hover-decoration: underline;
    --ticket-card-header-date-text: #000;
    --ticket-card-header-date-text-selected: #4a90e2;
    --ticket-card-header-date-text-hover: var(--link-hover-color);
    --ticket-card-header-date-text-hover-decoration: underline;
    --scrollbar-thumb: #4a90e2;
    overflow-y: scroll;
}


/* Using Dracula palette: https://github.com/dracula/dracula-theme  */

.dark-mode {
  --background-color: #2c2f42;
  --background-color-center-panel: #2c2f42;
  --background-color-left-panel: #161824;
  --background-logo-color: #34384d;
  --border-color-left-panel: #bd93f9;
  --text-color: #FFFFFF;
  --answer-text-color: #50fa7b;
  --answer-text-weight: bold;
  --answer-no-answer-text-color: #50fa7b;
  --answer-no-answer-text-hover-color: ghostwhite;
  --question-text-color: #f8f8f2;
  --link-color: #f1fa8c;
  --link-visited-color: #f1fa8c;
  --link-hover-color: #f1fa8c;
  --label-color: #6C757D;
  --input-border-color: #ccc;
  --forms-background-color: #44475a;
  --forms-border-color: #282a36;
  --forms-border-focus-color: #bd93f9;
  --forms-border-radius: var(--border-radius);
  --forms-text-color: #bd93f9;
  --forms-placeholder-text-color: #838284;
  --dropdown-text-color: #bd93f9;
  --ticket-header-user-text-color: #bd93f9;
  --ticket-footer-instance-badge-text: #bd93f9;
  --ticket-footer-instance-badge-text-hover: ghostwhite;
  --ticket-footer-instance-badge-text-selected: ghostwhite;
  --ticket-footer-instance-badge-text-selected-weight: bold;
  --ticket-footer-instance-badge-border: 1px solid;
  --ticket-footer-instance-badge-border-selected: ghostwhite;
  --ticket-footer-instance-badge-border-color: #bd93f9;
  --ticket-footer-instance-badge-background: #44475a;
  --ticket-footer-instance-badge-background-selected: #44475a;
  --ticket-footer-category-badge-text: #ffb86c;
  --ticket-footer-category-badge-text-selected: ghostwhite;
  --ticket-footer-category-badge-background: #44475a;
  --ticket-footer-category-badge-background-selected: #44475a;
  --badge-checkbox-selected-text-color: ghostwhite;
  --badge-checkbox-selected-border: 1px solid;
  --badge-checkbox-selected-border-color: #1c1e2b;
  --badge-checkbox-selected-background-color: #6C757D;
  --badge-checkbox-unselected-text-color: #6C757D;
  --badge-checkbox-unselected-border: 1px solid;
  --badge-checkbox-unselected-border-color: #6C757D;
  --badge-checkbox-unselected-background-color: #1c1e2b;
  --ticket-card-border-color: #bd93f9;
  --ticket-card-background: #282a36;
  --ticket-card-box-shadow: none;
  --ticket-card-header-user-text: #bd93f9;
  --ticket-card-header-user-text-selected: #fff;
  --ticket-card-header-user-text-hover: #fff;
  --ticket-card-header-date-text: #bd93f9;
  --ticket-card-header-date-text-selected: ghostwhite;
  --ticket-card-header-date-text-hover: ghostwhite;
  --scrollbar-thumb: #bd93f9;
  overflow-y: scroll;
}

/* Using the important tag to overcome Dark Reader effects  */
html, body {
  margin: 0;
  background-color: var(--background-color) !important;
  color: var(--text-color);
  font-family: var(--font-family);
}

.container {
/*  border: 1px solid yellow;*/
  width: 100%;
}

.left-panel {
  background-color: var(--background-color-left-panel);
  border-right: 1px solid;
  border-right-color: var(--border-color-left-panel);
  position: fixed;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-top: 48px;
  order: -1;
  width: 100%;
  max-width: 375px;
  height: 100vh;
} 

.center-panel {
  background-color: var(--background-color-center-panel);
  padding-top: 68px;
  height: 100%;
  margin-left: 447px;
  margin-right: 24px;
}

form {
  max-width: 100%;
}

label {
  color: var(--forms-placeholder-text-color);
  font-size: var(--label-size);
  margin-left: 2px;
  margin-bottom: var(--label-margin-bottom);
}

a {
  color: var(--link-color);
  text-decoration: none; 
}

a:visited {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color); 
  text-decoration: underline;
}

a:active {
  color: var(--link-hover-color);
}

.user-login-bar {
  position: absolute;
  top: calc(0.6%);
  left: calc(90%);
  cursor: pointer;
  font-size: 1.5rem;
}

/* Container to wrap forms & dropdowns */
.dropdowns-container {
  margin-top: 16px;
}

/* Search form */
.search-input {
  color: var(--forms-text-color);
  background-color: var(--forms-background-color);
  font-size: var(--forms-search-input-text-size);
  font-family: var(--font-family);
  max-width: 100%;
  text-align: left;
  outline: none;
  width: 100%;
  margin-top: var(--label-margin-bottom);
  padding: 4px 4px 4px 9px;
  border: 1px solid var(--forms-border-color);
  border-radius: var(--forms-border-radius);
  margin-bottom: 4px;
  box-sizing: border-box;
  box-shadow: var(--ticket-card-box-shadow);
}

.search-input::placeholder {
    padding-left: 0px;
    text-align: left;
    color: var(--forms-placeholder-text-color);
}

/* Category dropdown  */
.category-dropdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--forms-margin-top);
}

/* User dropdown  */
.user-dropdown {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--forms-margin-top);
}

/* Container for the checkboxes */
.checkboxes-container {
  display: block;
  width: 100%;
  padding-top: var(--label-margin-bottom);
  margin-top: var(--forms-margin-top);
}

/* formerly-checkbox badges  */
.checkbox-badges {
  padding: 0px 6px 2px 6px;
  margin-top: 0px;
  margin-right: -3px;
  margin-bottom: 0px;
  color: var(--badge-checkbox-selected-text-color);
  border: var(--badge-checkbox-selected-border);
  border-color: var(--badge-checkbox-selected-border-color);
  background-color: var(--badge-checkbox-selected-background-color);
  border-radius: var(--badge-checkbox-selected-border-radius);
  cursor: pointer;
}

.checkbox-badges-unchecked {
  padding: 0px 6px 2px 6px;
  margin-top: 0px;
  margin-right: -3px;
  margin-bottom: 0px;
  color: var(--badge-checkbox-unselected-text-color);
  border: var(--badge-checkbox-unselected-border);
  border-color: var(--badge-checkbox-unselected-border-color);
  background-color: var(--badge-checkbox-unselected-background-color);
  border-radius: var(--badge-checkbox-unselected-border-radius);
  cursor: pointer;
}

.checkboxes-options {
  display: flex;
  justify-content: center;
  font-size: var(--badge-checkbox-text-size);
  margin-top: var(--forms-margin-top);
  gap: 10px;
}

.api-refresh-container {
  display: flex;
  justify-content: center;
  font-size: var(--badge-checkbox-text-size);
  margin-top: 24px;
}

.api-refresh-button {
  display: flex;
  color: var(--answer-text-color);
  background-color: var(--background-color-left-panel);
  font-size: 2rem;
  border: none;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 0px;
}

.search-results {
  margin-top: 25px;
}

.search-input:focus,
.search-input:active,
.dropdown:focus,
.dropdown:active {
  outline: none;
  border-color: var(--forms-border-focus-color);
}

/* Dropdown styles */
.dropdown {
  font-size: var(--forms-text-size);
  font-family: var(--font-family);
  color: var(--dropdown-text-color);
  background-color: var(--forms-background-color);
  width: 100%;
  padding:4px 5px;
  border: 1px solid #fff;
  border-radius: var(--forms-border-radius);
  margin-bottom: 4px;
  box-shadow: var(--ticket-card-box-shadow);
}

.dropdown:-moz-focusring {
  border-color: #4a90e2;
}

.dropdown:not(:focus-visible) {
  border-color: var(--forms-border-color);
}

.datepicker-container {
  display: block;
  justify-content: space-between;
  width: 100%;
  margin-top: -2px;
  margin-bottom: 6px;
  gap:4px;
}

.datepicker-field {
  position: relative;
  width: 100%;
  margin-top: var(--forms-margin-top);
}

.datepicker-input {
  outline: none;
  font-size: var(--forms-text-size);
  font-family: var(--font-family);
  color: var(--dropdown-text-color);
  background-color: var(--forms-background-color);
  width: 100%;
  padding: 4px 8px;
  border: 1px solid var(--forms-border-color);
  border-radius: var(--forms-border-radius);
  margin-top: var(--label-margin-bottom);
  margin-bottom: 4px;
  box-sizing: border-box;
  box-shadow: var(--ticket-card-box-shadow);
}

.datepicker-input:focus,
.datepicker-input:active {
  outline: none;
  border-color: var(--forms-border-focus-color);
}

.datepicker-icon {
  position: absolute;
  right: 8px;
  top: calc(67%);
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--forms-placeholder-text-color);
}
.datepicker-icon:focus {
  outline: none;
}

.datepicker-reset {
  position: absolute;
  right: 33px;
  top: calc(68% + 0.3px);
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--forms-placeholder-text-color);
}

/* Dark Mode Toggle */

.dark-mode-toggle {
  z-index: 1;
  position: fixed;
  right: 9px;
  top: 10px;
  margin: 0px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

body:not(.dark-mode) .fa-sun {
  display: none;
}

.dark-mode-toggle i {
  font-size: 1.8rem;
  transition: transform 0.3s ease;
}

.fa-sun, .fa-moon {
  display: inline-block;
}

.dark-mode .fa-sun {
  display: inline-block !important;
}

.dark-mode .fa-moon {
  display: none;
}


.question {
  color: var(--question-text-color);
  font-size: var(--question-text-size);
  font-family: var(--font-family);
  font-style: italic;
  margin-bottom: 5px;
}

.answer {
  color: var(--answer-text-color);
  font-size: var(--answer-text-size);
  font-weight: var(--answer-text-weight);
  margin-top: 20px;
  margin-bottom: 10px;
}

.answer-no-answer {
  color: var(--answer-no-answer-text-color);
  cursor: pointer;
}

.answer-no-answer:hover {
  color: var(--answer-no-answer-text-hover-color);
  text-decoration: underline;
}

/* wraps every ticket */
.ticket-card {
  border: 1px solid var(--ticket-card-border-color);
  border-radius: var(--ticket-card-border-radius);
  padding: 24px;
  margin-bottom: 24px;
  background-color: var(--ticket-card-background);
  box-shadow: var(--ticket-card-box-shadow);
}

/* Header to wrap and position user, date, ticket ID */
.ticket-card-header {
  font-size: var(--ticket-header-text-size);
  color: var(--ticket-header-user-text-color);
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  gap: 8px;
}

/* User in the ticket header  */
.ticket-card-header-user {
  color: var(--ticket-card-header-user-text);
  cursor: pointer;
}

.ticket-card-header-user:hover {
  color: var(--ticket-card-header-user-text-hover);
  text-decoration: var(--ticket-card-header-user-text-hover-decoration);
}

.ticket-card-header-user-selected {
  color: var(--ticket-card-header-user-text-selected);
  cursor: pointer;
}

.ticket-card-header-user-selected:hover {
  color: var(--ticket-card-header-user-text-selected);
  text-decoration: var(--ticket-card-header-user-text-hover-decoration);
  cursor: pointer;
}

/* Date in the ticket header */
.ticket-card-header-date {
  color: var(--ticket-card-header-date-text);
  cursor: pointer;
}

.ticket-card-header-date-selected {
  color: var(--ticket-card-header-date-text-selected);
  cursor: pointer;
}

.ticket-card-header-date-selected:hover {
  color: var(--ticket-card-header-date-text-hover);
  text-decoration: var(--ticket-card-header-date-text-hover-decoration);
}

.ticket-card-header-date:hover {
  color: var(--ticket-card-header-date-text-hover);
  text-decoration: var(--ticket-card-header-date-text-hover-decoration);
}

/* Ticket ID in the ticket header */
.ticket-card-header-ticket-id {
  margin-left: auto;
}

/* wraps footer for the category badges */
.ticket-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* category badges in the ticket footer  */
.ticket-footer-category-badge {
  display: inline-flex;
  padding: 0.5px 8.5px 3px 8.5px;
  margin-top: 8px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: var(--ticket-footer-category-badge-text-size);
  font-family: var(--font-family);
  color: var(--ticket-footer-category-badge-text);
  border: var(--ticket-footer-category-badge-border);
  border-color: var(--ticket-footer-category-badge-border-color);
  background-color: var(--ticket-footer-category-badge-background);
  border-radius: var(--ticket-footer-category-badge-border-radius);
  vertical-align: middle;
  cursor: pointer;
}

/* Ticket footer category badges when toggled  */
.ticket-footer-category-badge-selected {
  display: inline-flex;
  padding: 0.5px 8.5px 3px 8.5px;
  margin-top: 8px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: var(--ticket-footer-category-badge-text-size);
  font-family: var(--font-family);
  font-weight: var(--ticket-footer-category-badge-text-selected-weight);
  color: var(--ticket-footer-category-badge-text-selected);
  border: 1px solid;
  border-color: var(--ticket-footer-instance-badge-border-selected);
  background-color: var(--ticket-footer-category-badge-background-selected);
  border-radius: var(--ticket-footer-category-badge-border-radius);
  vertical-align: middle;
  cursor: pointer;
}

.ticket-footer-category-badge:hover {
  color: ghostwhite;
}

/* instance badge in the ticket footer  */
.ticket-footer-instance-badge {
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;  margin-top: 8px;
  margin-right: -2px;
  margin-bottom: 0px;
  font-size: var(--ticket-footer-text-size);
  font-family: var(--font-family);
  color: var(--ticket-footer-instance-badge-text);
  border: var(--ticket-footer-instance-badge-border);
  border-color: var(--ticket-footer-instance-badge-border-color);
  background-color: var(--ticket-footer-instance-badge-background);
  border-radius: var(--ticket-footer-instance-badge-border-radius);
  vertical-align: middle; 
  cursor: pointer;
}

/* instance badge in the ticket footer while selected  */
.ticket-footer-instance-badge-selected {
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;
  margin-top: 8px;
  margin-right: -2px;
  margin-bottom: 0px;
  font-size: var(--ticket-footer-text-size);
  font-weight: var(--ticket-footer-instance-badge-text-selected-weight);
  font-family: var(--font-family);
  color: var(--ticket-footer-instance-badge-text-selected);
  border: var(--ticket-footer-instance-badge-border);
  border-color: var(--ticket-footer-instance-badge-border-selected);
  background-color: var(--ticket-footer-instance-badge-background-selected);
  border-radius: var(--ticket-footer-instance-badge-border-radius);
  vertical-align: middle; 
  cursor: pointer;
}

.ticket-footer-instance-badge:hover {
  color: var(--ticket-footer-instance-badge-text-hover);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}


/* Preserve darkmode toggle icon against DarkReader shenanigans */
#dark-mode-toggle i {
  color: var(--text-color);
}

@media screen and (inverted-colors: inverted) {
  #dark-mode-toggle i {
    color: black;
  }
}

.flatpickr-input {
   color: var(--forms-text-color) !important;
}

.background-logo {
  color: var(--background-logo-color);
  display: flex;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: -9999;
  align-items: center;
  justify-content: center;
  font-size: 14em;
}

/* Fonts  */

@font-face {
  font-family: 'CamingoCode';
  src: url('/resources/fonts/CamingoCode-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'CamingoCode';
  src: url('/resources/fonts/CamingoCode-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'CamingoCode';
  src: url('/resources/fonts/CamingoCode-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'CamingoCode';
  src: url('/resources/fonts/CamingoCode-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: bold;
}
